
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
@import './component/Navbar.css';
@import "./screen/Home.css";
@import "./component/Tree.css";
@import "./screen/Trees.css";
@import "./screen/Auth.css";
@import "./component/LoadingOverlay.css";
@import "./screen/UserArea.css";

.container{
  width:75%;
  margin:auto;
}
.container.container-narrow{
width:60%;
}

* {
  font-family: 'Livvic';
}
.brand-blue{
  color:#1890ff;
}
.brand-green{
  color:#1DA57A;
}