.loading-overlay{
    width:100%;
    height:100%;
    background:white;
    position: fixed;
    top:0;
    left:0;
    z-index:15;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity:0;
    visibility: hidden;
    transition: opacity .2s, visibility .2s;
}
.loading-overlay.active{
    opacity:1;
    visibility: visible;
}
.loading-overlay *{
    font-size:2em;
    color:#1DA57A;
}