.navbar{
    
    padding: 5px 20px 0 5px;
    font-size:1.1em;
    border-bottom:1px solid #ddd;
    position: fixed;
    top:0;
    left:0;
    z-index:10;
    background: white;
    width:100%;
}
.navbar-container{
    width:calc(100% - 4em);
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar-container .ant-menu-item a{
    display:inline-block !important;
}
.navbar-brand{
    font-size:1.2em;
    font-weight: bold;
    margin-right:2em;
}
.navbar-brand span{
    color:#1890ff;
}
.navbar-menu{
    border-bottom:none;
}
.navbar-actions button{
    margin-left: 10px;
}
.navbar-menus{
    display:flex;
}