.tree_component {
    position: relative;
}

.tree_component .content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tree_component .shifter {
    position: relative;
    top: -18px;
}

.tree_component .info {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -42px;

    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
}